postgresql/
etc/odoo-server.log
etc/addons/
etc/sessions/
etc/filestore/
tags/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sublime-workspace
*.sublime-project
*.code-workspace

source/
*.DS_Store

tags

# Cypress Artifacts
e2e/cypress/screenshots/
e2e/cypress/videos/

#gitlab
gitlab/logs

# config file
